*.swp
*.swo

# Runtime data
pids
*.pid
*.seed
allFiredEvents
scTopics

# NodeJS/NPM
node_modules/
logs
*.log
npm-debug.log*
.npm
.env

# Truffle
/build
.node-xmlhttprequest-*

# IntelliJ IDE
.idea

# macOS
.DS_Store
